<div class="card my-2">
    <img src="../../assets/img/photo.jpg" alt="front door photo" class="card-img-top">
    <div class="card-body text-center">
        <h3 class="card-title">
            Pro100 Auto Sales
        </h3>
        <p class="card-text">
            At Pro100 Auto Body & Paint, our main goal is customer satisfaction and complete perfection. We perform
            quick/fast, affordable, and high quality repairs on your ride and offer a great customer experience.
        </p>
        <a href="#" class="btn btn-primary">More Info</a>
    </div>
</div>